.principal {
    background-color: red;
    height: 25vh;
    overflow: hidden;
    display: flex;
    color: white;
    justify-content:space-around;
    align-items: center;
}
.principal a img {
   height: 100%;
}
.second {
    background-color: blue;
    overflow: hidden;
    height: 25vh;
    display: flex;
    color: white;
    justify-content:space-around;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
}
.second a {
    width: 50%;
}