* {
    font-family: arial;
    margin: 0;
}

/* code couleur et taille police et mise en flex pour gestion du placement des élements */
header {
    height: 300px;
    background: url("image/header.png");
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    justify-content: space-around;

}

/* mis une id pour gérer la mise in-line de ce bloc */
#navapart {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

a {
    color: orange;
}

#moi {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: dashed white 1px;
}

/* "bloc" regroupant tous les effets au hover */
#un:hover {
    cursor: pointer;
    text-decoration: overline;
    color: white;
}

#deux:hover {
    cursor: pointer;
    text-decoration: overline;
    color: white;
}

#trois:hover {
    cursor: pointer;
    text-decoration: overline;
    color: white;
}


#nom {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nom:hover {
    cursor: pointer;
    color: orange;
}

#titre {
    display: flex;
    justify-content: center;
}

#titre:hover {
    cursor: pointer;
    color: orange;
}




/* utilisation d'un webkit pour rotation photo et compatible differents navigateurs */
#moi:hover {
    -webkit-transition: -webkit-transform .9s;
    -moz-transition: -moz-transform .9s;
    -o-transition: -o-transform .9s;
    -ms-transition: -ms-transform .9s;
    transition: transform .9s;
    cursor: pointer;
}

#moi:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

/* mise en flex pour mise en forme conforme à la maquette + codes couleur titre, police et background */
#edito {
    background-color: black;
    border-top: grey solid 5px;
    display: flex;
    justify-content: space-between;
}

h2 {
    color: orange;
    margin-top: 10%;
    margin-bottom: 10%;
}

#edito p {
    width: 75%;
    margin-top: 10%;
    color: white;
}


/* section projet pour: ne pas intégrer le h2 dans le flex box.Et mise du background et de la border top. */
#projet {
    background-color: black;
    border-top: grey solid 5px;
}

/* création d'une div et mise en flex pour organiser la mise en forme des images et des textes */
#projet div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

/* width de 40% pour les p et img pour en avoir que 2 par "ligne". Et un margin bottom pour espacer le tout */
#projet p {
    color: white;
    width: 40%;
    margin-bottom: 5%;
}

#projet img {
    width: 40%;
    height: 100px;
    margin-bottom: 5%;
}

/* création classe pour l'effet radius inversé 1 image sur 2 */
.radius1 {
    border: solid white 1px;
    border-radius: 20% 0%;
}

.radius2 {
    border: solid orange 1px;
    border-radius: 0% 20%;
}

/* animation première image */
#skew:hover {
    transform: skew(30deg, 20deg);
}

/* code couleur texte et background */
#contact {
    background-color: black;
    border-top: grey solid 5px;
}
#nom1 {
    color: white;
}

#prenom1 {
    color: white;
}
#mess1 {
    color: white;
}

/* mise en flex pour centrage */
table {
    display: flex;
    justify-content: center;
}

#btn {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    height: 30px;
}